API_PORT=example
PYTHONPATH=app
KAFKA_URL=service_name:port
MONGO_USERNAME=example
MONGO_PASSWORD=example
MONGO_DB_ADMIN_USERNAME=example
MONGO_DB_ADMIN_PASSWORD=example
MONGO_DB_CONNECTION_URI=mongodb://${MONGO_USERNAME}:${MONGO_PASSWORD}@service_name:port